{% load i18n %}
<div class='item item-edit'>
    <form class="change-password-form" data-user_id="{{ form.user.id }}" action="{% url 'c4all_admin:change_password' form.user.id %}" method='POST'>{% csrf_token %}
    <div class='col-fields'>
        <fieldset>
            <ol>
                <li class='field-name'>
                    <label for='input-name'>{% trans "Name" %}</label>
                    <div class='group'>
                        <input type='text' value="{{ form.user.get_full_name }}" id='input-name'>
                    </div>
                </li>
                <li class='field-email'>
                    <label for='input-email'>{% trans "E-mail" %}</label>
                    <div class='group'>
                        <input type='email' value="{{ form.user.email }}" id='input-email'>
                    </div>
                </li>
                <li class='field-password'>
                    <strong class="admin-error">{{ form.password1.errors }}</strong>
                    <label for='id_password1'>{% trans "New password" %}</label>
                    <div class='group'>
                        <input type='password' value='' id='id_password1' name='password1'>
                    </div>
                </li>
                <li class='field-password'>
                    <strong class="admin-error">{{ form.password2.errors }}</strong>
                    <label for='id_password2'>{% trans "Repeat password" %}</label>
                    <div class='group'>
                        <input type='password' value='' id='id_password2' name='password2'>
                    </div>
                </li>
            </ol>
        </fieldset>
    </div>
    <div class='item-action'>
        <button class='button alt submit-password-change'>
            <span class='button-label'>{% trans "Modify user" %}</span>
        </button>
        <a href='#' class="cancel-password-change" data-user_id={{ form.user.id }}>{% trans "Cancel" %}</a>
    </div>
    </form>
</div>
