{% load i18n %}
<div class="button-container">
    <button class="button button-small thumb-up {% if comment.id in request.session.liked_comments %}state-active{% endif %} alt-hover ctrl-comment-feedback" data-action="like">
        <i class="icon icon-thumb-up"></i>
        <span class="button-label">{% trans "Good" %}</span>
    </button>
    <span class="button-description"><span class="value">{% trans "voted" %} {{ instance.likes_count }}</span> <span class="extra"> {% if instance.likes_count == 1 %}{% trans "person" %}{% else %}{% trans "persons" %}{% endif %}</span></span>
</div>
