/* ==================================================
    Mixins
===================================================== */
#c4all-widget-container *,
#c4all-widget-container a,
#c4all-widget-container a:link {
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: color 0 ease-in;
  transition: none;
}
#c4all-widget-container .comment-icon {
  display: inline-block;
  width: 40px;
  text-align: center;
  vertical-align: middle;
  height: 40px;
}
#c4all-widget-container .leave-comment-min-height {
  min-height: 800px;
}
#c4all-widget-container .button-margin-left {
  margin-left: 3px !important;
}
#c4all-widget-container .element-hidden {
  display: none;
}
.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.visually-visible {
  position: relative;
  left: auto;
  top: auto;
  width: auto;
  height: auto;
  overflow: visible;
  text-align: center;
}
/* ==================================================
	=Variables
===================================================== */
/* ==================================================
	=C4All
===================================================== */
#c4all-widget-container {
  font: 16px/1.5 'Helvetica Neue', Arial, sans-serif;
  color: #444;
  /* ==================================================
		=General
	===================================================== */
  /* Override */
  /* Text selection, higher contrast */
  /* ==================================================
		=Elements
	===================================================== */
  /* Buttons */
  /* Forms */
  /* Icons */
  /* Comment intro: */
  /* Comment listing */
  /* Single comment */
  /* Leave comment */
  /* Simplified view */
}
#c4all-widget-container * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#c4all-widget-container a {
  color: #0066cc;
  text-decoration: none;
}
#c4all-widget-container a:hover,
#c4all-widget-container a:focus {
  color: #000;
}
#c4all-widget-container p {
  font-size: 16px;
}
#c4all-widget-container h1,
#c4all-widget-container h2,
#c4all-widget-container h3,
#c4all-widget-container h4,
#c4all-widget-container h5,
#c4all-widget-container h6 {
  margin-bottom: .5em;
}
#c4all-widget-container h1,
#c4all-widget-container h2,
#c4all-widget-container h3,
#c4all-widget-container h4,
#c4all-widget-container h5,
#c4all-widget-container h6,
#c4all-widget-container p,
#c4all-widget-container li,
#c4all-widget-container td,
#c4all-widget-container th,
#c4all-widget-container label {
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
#c4all-widget-container ol,
#c4all-widget-container ul {
  list-style: none;
}
#c4all-widget-container ::selection {
  color: #fff;
  background: #0066cc;
  /* Safari */
}
#c4all-widget-container ::-moz-selection {
  color: #fff;
  background: #0066cc;
  /* Firefox */
}
#c4all-widget-container .button,
#c4all-widget-container button {
  display: inline-block;
  padding: 7px 10px;
  margin: 0;
  min-width: 32px;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #333;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-align: center;
  text-transform: none;
  border: 1px solid #d5d5d5;
  overflow: visible;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-image: linear-gradient(bottom, #eeeeee 0%, #ffffff 100%);
  background-image: -o-linear-gradient(bottom, #eeeeee 0%, #ffffff 100%);
  background-image: -moz-linear-gradient(bottom, #eeeeee 0%, #ffffff 100%);
  background-image: -webkit-linear-gradient(bottom, #eeeeee 0%, #ffffff 100%);
  background-image: -ms-linear-gradient(bottom, #eeeeee 0%, #ffffff 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(1, #ffffff));
  background-color: #eeeeee;
  -webkit-box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.7);
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.7);
  /* Hover & Focus */
  /* Alternative style (color) button */
  /* Active button */
  /* Small button */
  /* Naked button (no shadow/border/backgorund) */
  /* Flat button (no gradient/border/shadow) */
}
#c4all-widget-container .button:hover,
#c4all-widget-container button:hover,
#c4all-widget-container .button:focus,
#c4all-widget-container button:focus {
  color: #333;
  border-color: #287cd1;
  background-image: linear-gradient(bottom, #dceaf8 0%, #fcfdfe 100%);
  background-image: -o-linear-gradient(bottom, #dceaf8 0%, #fcfdfe 100%);
  background-image: -moz-linear-gradient(bottom, #dceaf8 0%, #fcfdfe 100%);
  background-image: -webkit-linear-gradient(bottom, #dceaf8 0%, #fcfdfe 100%);
  background-image: -ms-linear-gradient(bottom, #dceaf8 0%, #fcfdfe 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #dceaf8), color-stop(1, #fcfdfe));
  background-color: #dceaf8;
}
#c4all-widget-container .button.alt,
#c4all-widget-container button.alt,
#c4all-widget-container .button.alt-hover:hover,
#c4all-widget-container button.alt-hover:hover,
#c4all-widget-container .button.alt-hover:focus,
#c4all-widget-container button.alt-hover:focus {
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(bottom, #083e94 0%, #0a4fc1 100%);
  background-image: -o-linear-gradient(bottom, #083e94 0%, #0a4fc1 100%);
  background-image: -moz-linear-gradient(bottom, #083e94 0%, #0a4fc1 100%);
  background-image: -webkit-linear-gradient(bottom, #083e94 0%, #0a4fc1 100%);
  background-image: -ms-linear-gradient(bottom, #083e94 0%, #0a4fc1 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #083e94), color-stop(1, #0a4fc1));
  background-color: #083e94;
  border-color: #60a5eb;
  -webkit-box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.4);
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.4);
}
#c4all-widget-container .button.state-active,
#c4all-widget-container button.state-active,
#c4all-widget-container .button.state-active:hover,
#c4all-widget-container button.state-active:hover,
#c4all-widget-container .button.state-active:focus,
#c4all-widget-container button.state-active:focus,
#c4all-widget-container .button.alt:hover,
#c4all-widget-container button.alt:hover,
#c4all-widget-container .button.alt:focus,
#c4all-widget-container button.alt:focus {
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  border-color: #8ebc00;
  background-image: linear-gradient(bottom, #467f00 0%, #74bb00 100%);
  background-image: -o-linear-gradient(bottom, #467f00 0%, #74bb00 100%);
  background-image: -moz-linear-gradient(bottom, #467f00 0%, #74bb00 100%);
  background-image: -webkit-linear-gradient(bottom, #467f00 0%, #74bb00 100%);
  background-image: -ms-linear-gradient(bottom, #467f00 0%, #74bb00 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #467f00), color-stop(1, #74bb00));
  background-color: #467f00;
  -webkit-box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.4);
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.4);
}
#c4all-widget-container .button.button-small,
#c4all-widget-container button.button-small {
  font-size: 14px;
  line-height: 20px;
  padding: 3px 8px;
  height: 28px;
  min-width: 28px;
}
#c4all-widget-container .button.naked,
#c4all-widget-container button.naked {
  height: auto;
  padding: 0;
  border: none;
  background: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#c4all-widget-container .button.flat,
#c4all-widget-container button.flat {
  color: #fff;
  border: none;
  text-shadow: none;
  background: none;
  background-color: #4284d4;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#c4all-widget-container .button.flat:hover,
#c4all-widget-container button.flat:hover,
#c4all-widget-container .button.flat:focus,
#c4all-widget-container button.flat:focus {
  background-color: #000;
}
#c4all-widget-container input[type="text"],
#c4all-widget-container input[type="email"],
#c4all-widget-container input[type="password"],
#c4all-widget-container textarea,
#c4all-widget-container .textarea {
  display: block;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  padding: 9px 10px;
  border: 1px solid #bdbcbc;
  width: 100%;
  max-width: 370px;
  background-color: #fff;
  -webkit-box-shadow: inset 3px 3px 8px 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 3px 3px 8px 0 rgba(0, 0, 0, 0.1);
}
#c4all-widget-container input[type="text"]:hover,
#c4all-widget-container input[type="email"]:hover,
#c4all-widget-container input[type="password"]:hover,
#c4all-widget-container textarea:hover,
#c4all-widget-container .textarea:hover {
  color: #000;
}
#c4all-widget-container input[type="text"]:focus,
#c4all-widget-container input[type="email"]:focus,
#c4all-widget-container input[type="password"]:focus,
#c4all-widget-container textarea:focus,
#c4all-widget-container .textarea:focus {
  outline: none;
  color: #000;
  border-color: #222;
}
#c4all-widget-container textarea,
#c4all-widget-container .textarea {
  border: 4px solid  #fff;
  min-height: 145px;
  margin: 0;
  padding: 10px;
  max-width: 100%;
  resize: vertical;
  -webkit-box-shadow: inset 6px 6px 8px 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 6px 6px 8px 0 rgba(0, 0, 0, 0.1);
}
#c4all-widget-container textarea:hover,
#c4all-widget-container .textarea:hover,
#c4all-widget-container textarea:focus,
#c4all-widget-container .textarea:focus {
  border-color: #ffffff;
}
#c4all-widget-container label {
  font-size: 15px;
  line-height: 20px;
  padding: 5px 0;
  display: block;
}
#c4all-widget-container .icon {
  display: inline-block;
  vertical-align: middle;
  background: url(../assets/art/elements.png) no-repeat 0 0;
}
#c4all-widget-container .icon-heart {
  background-position: 0 0;
}
#c4all-widget-container .icon-smiley-laughing {
  background-position: 0 -40px;
}
#c4all-widget-container .icon-smiley-happy {
  background-position: 0 -80px;
}
#c4all-widget-container .icon-smiley-indifferent {
  background-position: 0 -120px;
}
#c4all-widget-container .icon-smiley-sad {
  background-position: 0 -160px;
}
#c4all-widget-container .icon-smiley-angry {
  background-position: 0 -200px;
}
#c4all-widget-container .icon-listen {
  background-position: 0 -240px;
}
#c4all-widget-container .icon-spellcheck {
  background-position: 0 -280px;
}
#c4all-widget-container .button:hover .icon-heart,
#c4all-widget-container .button:focus .icon-heart {
  background-position: -40px 0;
}
#c4all-widget-container .button:hover .icon-smiley-laughing,
#c4all-widget-container .button:focus .icon-smiley-laughing {
  background-position: -40px -40px;
}
#c4all-widget-container .button:hover .icon-smiley-happy,
#c4all-widget-container .button:focus .icon-smiley-happy {
  background-position: -40px -80px;
}
#c4all-widget-container .button:hover .icon-smiley-indifferent,
#c4all-widget-container .button:focus .icon-smiley-indifferent {
  background-position: -40px -120px;
}
#c4all-widget-container .button:hover .icon-smiley-sad,
#c4all-widget-container .button:focus .icon-smiley-sad {
  background-position: -40px -160px;
}
#c4all-widget-container .button:hover .icon-smiley-angry,
#c4all-widget-container .button:focus .icon-smiley-angry {
  background-position: -40px -200px;
}
#c4all-widget-container .button:hover .icon-listen,
#c4all-widget-container .button:focus .icon-listen {
  background-position: -40px -240px;
}
#c4all-widget-container .button:hover .icon-spellcheck,
#c4all-widget-container .button:focus .icon-spellcheck {
  background-position: -40px -280px;
}
#c4all-widget-container .icon-arrow-right,
#c4all-widget-container .icon-arrow-right-alt {
  width: 9px;
  height: 14px;
  margin: -3px 10px 0 0;
}
#c4all-widget-container .icon-arrow-right {
  background-position: -360px -80px;
}
#c4all-widget-container .icon-arrow-right-alt {
  background-position: -360px -94px;
}
#c4all-widget-container img.icon {
  max-width: none;
}
#c4all-widget-container .comment-intro {
  border-top: 3px solid #ccc;
  background-color: #fff;
  padding-top: 18px;
  text-align: center;
}
#c4all-widget-container .comment-intro .icon {
  width: 28px;
  height: 28px;
  margin-top: -5px;
}
#c4all-widget-container .comment-intro .action-vote {
  background-color: #ecebeb;
  padding: 10px;
  margin-bottom: 18px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#c4all-widget-container .comment-intro .action-vote .button-container {
  display: inline-block;
  margin: 0 10px;
}
#c4all-widget-container .comment-intro .action-vote .button-description {
  margin-left: 5px;
}
#c4all-widget-container .comment-intro .action-vote .icon-thumb-up {
  background-position: -120px 0;
}
#c4all-widget-container .comment-intro .action-vote .icon-thumb-down {
  background-position: -120px -40px;
}
#c4all-widget-container .comment-intro .action-vote .button:hover .icon-thumb-up,
#c4all-widget-container .comment-intro .action-vote .button:focus .icon-thumb-up,
#c4all-widget-container .comment-intro .action-vote .state-active .icon-thumb-up {
  background-position: -200px 0;
}
#c4all-widget-container .comment-intro .action-vote .button:hover .icon-thumb-down,
#c4all-widget-container .comment-intro .action-vote .button:focus .icon-thumb-down,
#c4all-widget-container .comment-intro .action-vote .state-active .icon-thumb-down {
  background-position: -200px -40px;
}
#c4all-widget-container .comment-intro .action-comment {
  padding: 9px 0 18px 0;
}
#c4all-widget-container .comment-intro .action-comment .icon-comment {
  background-position: -200px -160px;
}
#c4all-widget-container .comment-intro .action-comment .button:hover .icon-comment,
#c4all-widget-container .comment-intro .action-comment .button:focus .icon-comment {
  background-position: -200px -160px;
}
#c4all-widget-container .comment-list {
  border: 3px solid #dedddd;
  padding: 18px;
  background-color: #fff;
  /* Listen all action */
  /* Action list items in listing intro */
}
#c4all-widget-container .comment-list .title {
  color: #333;
  float: left;
  margin-bottom: 10px;
}
#c4all-widget-container .comment-list .listen-all {
  float: right;
  margin-bottom: 10px;
}
#c4all-widget-container .comment-list .listen-all .icon {
  width: 32px;
  height: 32px;
}
#c4all-widget-container .comment-list .listen-all .button-description {
  float: left;
  padding: 8px 10px;
  text-decoration: underline;
}
#c4all-widget-container .comment-list .listen-all .button {
  float: right;
  padding: 3px 0;
  width: 40px;
}
#c4all-widget-container .comment-list .listen-all .button .icon-listen {
  background-position: 0 -240px;
}
#c4all-widget-container .comment-list .listen-all .button .button-label {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
#c4all-widget-container .comment-list .listen-all .button:hover .icon-listen,
#c4all-widget-container .comment-list .listen-all .button:focus .icon-listen {
  background-position: -40px -240px;
}
#c4all-widget-container .comment-list .action-list {
  color: #fff;
  background-color: #0066cc;
  padding: 6px 12px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  zoom: 1;
  clear: both;
  margin-bottom: 30px;
  /* View all comments */
  /* Go to editor interface action */
}
#c4all-widget-container .comment-list .action-list:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
#c4all-widget-container .comment-list .action-list .user-action {
  float: left;
}
#c4all-widget-container .comment-list .action-list .user-action a {
  color: #fff;
  padding: 2px;
  display: inline-block;
}
#c4all-widget-container .comment-list .action-list .user-action a:hover,
#c4all-widget-container .comment-list .action-list .user-action a:focus {
  text-decoration: underline;
}
#c4all-widget-container .comment-list .action-list .editor-action {
  float: right;
}
#c4all-widget-container .comment-list .action-list .editor-action .button-description {
  margin-right: 10px;
}
#c4all-widget-container .comment-list .action-list a {
  color: #fff;
}
#c4all-widget-container .comment-list .action-list-bottom {
  color: #fff;
  background-color: #0066cc;
  padding: 6px 12px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  zoom: 1;
  clear: both;
  margin-bottom: 30px;
  /* View all comments */
  /* Go to editor interface action */
  margin-bottom: 0;
  margin-top: 30px;
}
#c4all-widget-container .comment-list .action-list-bottom:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
#c4all-widget-container .comment-list .action-list-bottom .user-action {
  float: left;
}
#c4all-widget-container .comment-list .action-list-bottom .user-action a {
  color: #fff;
  padding: 2px;
  display: inline-block;
}
#c4all-widget-container .comment-list .action-list-bottom .user-action a:hover,
#c4all-widget-container .comment-list .action-list-bottom .user-action a:focus {
  text-decoration: underline;
}
#c4all-widget-container .comment-list .action-list-bottom .editor-action {
  float: right;
}
#c4all-widget-container .comment-list .action-list-bottom .editor-action .button-description {
  margin-right: 10px;
}
#c4all-widget-container .comment-list .action-list-bottom a {
  color: #fff;
}
#c4all-widget-container .comment-list ol {
  clear: left;
}
#c4all-widget-container .comment {
  padding-left: 90px;
  margin-top: 18px;
  /* Comment layout */
  /* Comment header */
  /* Comment body */
  /* Comment footer */
  /* Comment edit */
  /* Comment highlight */
  /* My comment style */
  /* Last comment style */
}
#c4all-widget-container .comment:first-child {
  margin-top: 0;
}
#c4all-widget-container .comment article {
  position: relative;
  border: 3px solid #b0b0b0;
  background-color: #fff;
}
#c4all-widget-container .comment article:before {
  content: "";
  width: 13px;
  height: 16px;
  background: url(../assets/art/elements.png) no-repeat -360px 0;
  position: absolute;
  top: 20px;
  left: -13px;
}
#c4all-widget-container .comment .tag {
  position: absolute;
  top: -13px;
  right: -24px;
  background: url(../assets/art/elements.png) no-repeat -400px 0;
  height: 25px;
  color: #fff;
  font-size: 13px;
  line-height: 17px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 4px 14px 4px 24px;
}
#c4all-widget-container .comment .comment-header {
  position: relative;
  padding: 10px 10px 0 10px;
}
#c4all-widget-container .comment .comment-header .avatar {
  position: absolute;
  top: -3px;
  left: -93px;
  width: 70px;
}
#c4all-widget-container .comment .comment-header .name {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  margin-bottom: 0;
}
#c4all-widget-container .comment .comment-body {
  padding: 10px 10px 38px 10px;
  word-wrap: break-word;
}
#c4all-widget-container .comment .comment-body p {
  font-size: 15px;
  line-height: 1.5;
}
#c4all-widget-container .comment .comment-footer {
  zoom: 1;
  padding: 5px 10px;
  background-color: #ecebeb;
  position: relative;
}
#c4all-widget-container .comment .comment-footer:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
#c4all-widget-container .comment .comment-footer .date {
  font-size: 14px;
  line-height: 18px;
  position: absolute;
  top: -30px;
  right: 10px;
}
#c4all-widget-container .comment .comment-footer .icon {
  width: 20px;
  height: 20px;
  margin-top: -2px;
}
#c4all-widget-container .comment .comment-footer .action-vote {
  float: left;
}
#c4all-widget-container .comment .comment-footer .action-vote .button-container {
  display: inline-block;
  margin-right: 10px;
}
#c4all-widget-container .comment .comment-footer .action-vote .button-description {
  font-size: 13px;
  margin-left: 5px;
}
#c4all-widget-container .comment .comment-footer .action-vote .icon-thumb-up {
  background-position: -240px 0;
}
#c4all-widget-container .comment .comment-footer .action-vote .icon-thumb-down {
  background-position: -240px -40px;
}
#c4all-widget-container .comment .comment-footer .action-vote .button:hover .icon-thumb-up,
#c4all-widget-container .comment .comment-footer .action-vote .button:focus .icon-thumb-up,
#c4all-widget-container .comment .comment-footer .action-vote .state-active .icon-thumb-up {
  background-position: -320px 0;
}
#c4all-widget-container .comment .comment-footer .action-vote .button:hover .icon-thumb-down,
#c4all-widget-container .comment .comment-footer .action-vote .button:focus .icon-thumb-down,
#c4all-widget-container .comment .comment-footer .action-vote .state-active .icon-thumb-down {
  background-position: -320px -40px;
}
#c4all-widget-container .comment .comment-footer .action-other {
  float: right;
}
#c4all-widget-container .comment .comment-footer .action-other .button {
  padding: 2px;
  width: 28px;
}
#c4all-widget-container .comment .comment-footer .action-other .button .button-label {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
#c4all-widget-container .comment .comment-footer .action-other .button .icon-listen {
  background-position: -240px -80px;
}
#c4all-widget-container .comment .comment-footer .action-other .button:hover .icon-listen,
#c4all-widget-container .comment .comment-footer .action-other .button:focus .icon-listen {
  background-position: -280px -80px;
}
#c4all-widget-container .comment .comment-edit {
  text-align: right;
  padding: 5px 10px;
  background-color: #1664c8;
}
#c4all-widget-container .comment .comment-edit .button-description {
  color: #fff;
  margin-right: 10px;
}
#c4all-widget-container .comment.my-comment {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 10px 10px 90px;
  background-color: #d8eafe;
}
#c4all-widget-container .comment.my-comment article {
  border-color: #0066cc;
}
#c4all-widget-container .comment.my-comment article:before {
  background-position: -360px -16px;
}
#c4all-widget-container .comment.my-comment .tag {
  right: -34px;
}
#c4all-widget-container .comment.my-comment .avatar {
  left: -83px;
  width: 60px;
}
#c4all-widget-container .comment.last-comment .tag {
  background-position: -400px -40px;
}
#c4all-widget-container .leave-comment {
  background-color: #ecebeb;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-top: 30px;
  padding: 21px;
}
#c4all-widget-container .leave-comment .title {
  margin-bottom: 20px;
}
#c4all-widget-container .leave-comment .action {
  zoom: 1;
  clear: both;
  margin-top: 6px;
}
#c4all-widget-container .leave-comment .action:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
#c4all-widget-container .leave-comment .action:first-child {
  margin-top: 0;
}
#c4all-widget-container .leave-comment .action .icon {
  width: 28px;
  height: 28px;
}
#c4all-widget-container .leave-comment .action .button {
  float: left;
  margin-right: 5px;
  padding: 5px;
}
#c4all-widget-container .leave-comment .action .button .button-label {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
#c4all-widget-container .leave-comment .action .button .icon-ll {
  background-position: -120px -80px;
}
#c4all-widget-container .leave-comment .action .button .icon-video {
  background-position: -120px -120px;
}
#c4all-widget-container .leave-comment .action .button .icon-sign-language {
  background-position: -120px -200px;
}
#c4all-widget-container .leave-comment .action .button:hover .icon-ll,
#c4all-widget-container .leave-comment .action .button:focus .icon-ll {
  background-position: -160px -80px;
}
#c4all-widget-container .leave-comment .action .button:hover .icon-video,
#c4all-widget-container .leave-comment .action .button:focus .icon-video {
  background-position: -160px -120px;
}
#c4all-widget-container .leave-comment .action .button:hover .icon-sign-language,
#c4all-widget-container .leave-comment .action .button:focus .icon-sign-language {
  background-position: -160px -200px;
}
#c4all-widget-container .leave-comment .action .button-description {
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  padding: 8px 10px;
}
#c4all-widget-container .leave-comment .action a.button-description:hover,
#c4all-widget-container .leave-comment .action a.button-description:focus {
  color: #222;
  text-decoration: underline;
}
#c4all-widget-container .comment-form {
  margin-top: 30px;
  /* Coomment textarea and help area */
  /* User account area; anonymus, logged in... */
}
#c4all-widget-container .comment-form fieldset {
  border: none;
  padding: 0;
}
#c4all-widget-container .comment-form .comment-area {
  background-color: #0066cc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  zoom: 1;
}
#c4all-widget-container .comment-form .comment-area:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
#c4all-widget-container .comment-form .comment-area .action-feel,
#c4all-widget-container .comment-form .comment-area .action-help {
  text-align: right;
  padding: 6px 6px 0 6px;
  float: left;
  zoom: 1;
}
#c4all-widget-container .comment-form .comment-area .action-feel:after,
#c4all-widget-container .comment-form .comment-area .action-help:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
#c4all-widget-container .comment-form .comment-area .action-feel {
  text-align: right;
  width: 400px;
  padding-right: 14px;
  position: relative;
}
#c4all-widget-container .comment-form .comment-area .action-feel:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 13px;
  background: url(../assets/art/elements.png) no-repeat -800px 0;
}
#c4all-widget-container .comment-form .comment-area .action-help {
  width: 180px;
}
#c4all-widget-container .comment-form .comment-area .field-comment {
  clear: both;
  padding: 6px;
}
#c4all-widget-container .comment-form .comment-area .field-comment label {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
#c4all-widget-container .comment-form .comment-area .comment-editor {
  font-size: .1px;
  /* Fixes whitespace in "display: inline-block;" elements */
}
#c4all-widget-container .comment-form .comment-area .comment-editor .button-description {
  text-align: left;
  color: #fff;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  padding: 8px;
  margin-bottom: 0;
  margin-right: 4px;
  float: left;
}
#c4all-widget-container .comment-form .comment-area .comment-editor .button {
  display: inline-block;
  overflow: visible;
  padding: 3px;
  margin-left: 6px;
  border-color: #3a4b5d;
}
#c4all-widget-container .comment-form .comment-area .comment-editor .button .icon {
  width: 32px;
  height: 32px;
}
#c4all-widget-container .comment-form .comment-area .comment-editor .button .button-label {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
#c4all-widget-container .comment-form .comment-area .comment-editor .button:hover,
#c4all-widget-container .comment-form .comment-area .comment-editor .button:focus {
  background-image: linear-gradient(bottom, #a9c5e2 0%, #ffffff 100%);
  background-image: -o-linear-gradient(bottom, #a9c5e2 0%, #ffffff 100%);
  background-image: -moz-linear-gradient(bottom, #a9c5e2 0%, #ffffff 100%);
  background-image: -webkit-linear-gradient(bottom, #a9c5e2 0%, #ffffff 100%);
  background-image: -ms-linear-gradient(bottom, #a9c5e2 0%, #ffffff 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #a9c5e2), color-stop(1, #ffffff));
  background-color: #a9c5e2;
}
#c4all-widget-container .comment-form .account-area {
  margin-top: 20px;
  position: relative;
  /* Left padding for absolutely positioned avatar */
  /* Grouped form fields */
  /* Avatar field */
  /* Different form states */
}
#c4all-widget-container .comment-form .account-area.pull-left {
  padding-left: 90px;
}
#c4all-widget-container .comment-form .account-area .account-info {
  margin-bottom: 20px;
}
#c4all-widget-container .comment-form .account-area .account-info h3 {
  line-height: 24px;
  display: inline-block;
  margin-bottom: 10px;
}
#c4all-widget-container .comment-form .account-area .account-info .action-link {
  float: right;
  margin-bottom: 10px;
}
#c4all-widget-container .comment-form .account-area .action-link {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}
#c4all-widget-container .comment-form .account-area .action-link:hover,
#c4all-widget-container .comment-form .account-area .action-link:focus {
  color: #222;
  text-decoration: underline;
}
#c4all-widget-container .comment-form .account-area .field-group {
  zoom: 1;
  /* Fields */
  /* Action links & buttons */
  /* Label on the left */
}
#c4all-widget-container .comment-form .account-area .field-group:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
#c4all-widget-container .comment-form .account-area .field-group .field {
  margin-top: 7px;
}
#c4all-widget-container .comment-form .account-area .field-group .field:first-child {
  margin-top: 0;
}
#c4all-widget-container .comment-form .account-area .field-group .field-action {
  margin-top: 14px;
}
#c4all-widget-container .comment-form .account-area .field-group .field-action .action-link {
  display: block;
}
#c4all-widget-container .comment-form .account-area .field-group .field-avatar {
  margin-top: 0;
}
#c4all-widget-container .comment-form .account-area .field-group.label-left .field {
  padding-left: 90px;
  float: left;
  width: 100%;
}
#c4all-widget-container .comment-form .account-area .field-group.label-left .field-avatar {
  padding-left: 0;
  margin-top: 0;
}
#c4all-widget-container .comment-form .account-area .field-group.label-left label {
  padding: 10px 0;
  float: left;
  margin-left: -90px;
}
#c4all-widget-container .comment-form .account-area .field-avatar {
  position: absolute;
  margin-top: 0;
  top: 0;
  left: 0;
  width: 70px;
  max-width: 70px;
  padding: 0;
  margin: 0;
}
#c4all-widget-container .comment-form .account-area .field-avatar img {
  width: 100%;
  display: block;
}
#c4all-widget-container .comment-form .account-area .field-avatar .active-avatar .button-label {
  display: inline-block;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #0066cc;
  text-decoration: underline;
}
#c4all-widget-container .comment-form .account-area .field-avatar .active-avatar:hover .button-label,
#c4all-widget-container .comment-form .account-area .field-avatar .active-avatar:focus .button-label {
  color: #000;
  text-decoration: none;
}
#c4all-widget-container .comment-form .account-area .field-avatar.is-opened .other-avatar {
  display: block;
}
#c4all-widget-container .comment-form .account-area .field-avatar .other-avatar {
  display: none;
  position: absolute;
  bottom: 100%;
  left: 50%;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #e8e8e8;
  width: 154px;
  margin-left: -77px;
  margin-bottom: 5px;
}
#c4all-widget-container .comment-form .account-area .field-avatar .other-avatar:before {
  content: "";
  border: 10px solid transparent;
  border-top-color: #fff;
  position: absolute;
  left: 50%;
  bottom: -20px;
  margin-left: -10px;
}
#c4all-widget-container .comment-form .account-area .field-avatar .other-avatar .button {
  float: left;
  padding: 5px;
  margin: 0;
  bottom: 0;
  height: auto;
  width: 33px;
  min-width: 32px;
  height: 32px;
}
#c4all-widget-container .comment-form .account-area .field-avatar .other-avatar .button img {
  width: 100%;
}
#c4all-widget-container .comment-form .account-area .field-avatar .other-avatar .button .button-label {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
#c4all-widget-container .comment-form .account-area .field-avatar .other-avatar .button:hover,
#c4all-widget-container .comment-form .account-area .field-avatar .other-avatar .button:focus {
  background-color: #74bb00;
}
#c4all-widget-container .comment-form .account-area .field-avatar .other-avatar .button.state-active {
  background-color: #dae9fc;
}
#c4all-widget-container .comment-form .account-area.loggedin .account-info {
  margin-bottom: 0;
}
#c4all-widget-container .comment-form .account-area.loggedin .account-info h3 {
  margin-bottom: 0;
}
#c4all-widget-container .comment-form .account-area.loggedin .field-action {
  margin-top: 6px;
}
#c4all-widget-container .comment-form .account-area.loggedin .field-action.primary {
  float: left;
}
#c4all-widget-container .comment-form .account-area.loggedin .field-action.secondary {
  float: right;
}
#c4all-widget-container .comment-form .account-area.loggedin .field-action.secondary a {
  line-height: 20px;
}
#c4all-widget-container .comment-form .account-area.login .account-info h3,
#c4all-widget-container .comment-form .account-area.login .account-info a {
  margin-bottom: 0;
}
#c4all-widget-container .comment-form .account-area.anonymus .account-info {
  margin-bottom: 6px;
}
#c4all-widget-container .comment-form .account-area.anonymus .account-info h3,
#c4all-widget-container .comment-form .account-area.anonymus .account-info a {
  margin-bottom: 0;
}
#c4all-widget-container .comment-form .account-area.anonymus .field {
  margin-top: 0;
}
#c4all-widget-container .comment-form .account-area.anonymus .field-action {
  margin-top: 14px;
}
#c4all-widget-container.narrow-view {
  /* Comments intro */
  /* Comment listing */
  /* Single comment */
  /* Comment form */
  /* Leave comment */
}
#c4all-widget-container.narrow-view .comment-intro .action-vote .button-description {
  display: block;
  margin-left: 0;
  margin-top: 4px;
  font-size: 12px;
}
#c4all-widget-container.narrow-view .comment-intro .action-comment .button-label .extra {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
#c4all-widget-container.narrow-view .comment-list {
  border: none;
}
#c4all-widget-container.narrow-view .comment-list .listen-all .button-description {
  display: none;
}
#c4all-widget-container.narrow-view .comment {
  padding-left: 0;
}
#c4all-widget-container.narrow-view .comment.my-comment {
  padding: 10px 18px;
  margin-left: -18px;
  margin-right: -18px;
}
#c4all-widget-container.narrow-view .comment article:before {
  display: none;
}
#c4all-widget-container.narrow-view .comment .action-vote .button-label {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
#c4all-widget-container.narrow-view .comment .action-vote .button-description .extra {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
#c4all-widget-container.narrow-view .comment .tag {
  right: -21px;
}
#c4all-widget-container.narrow-view .comment .comment-header {
  height: 50px;
  padding-left: 60px;
}
#c4all-widget-container.narrow-view .comment .comment-header .name {
  padding: 10px 0;
}
#c4all-widget-container.narrow-view .comment .comment-header .avatar {
  left: 10px;
  top: 10px;
  width: 40px;
}
#c4all-widget-container.narrow-view .comment .comment-footer .date {
  left: 10px;
  right: auto;
}
#c4all-widget-container.narrow-view .comment-form .comment-area .comment-editor .action-feel {
  width: 50%;
  text-align: left;
  padding: 10px;
}
#c4all-widget-container.narrow-view .comment-form .comment-area .comment-editor .action-feel:before {
  display: none;
}
#c4all-widget-container.narrow-view .comment-form .comment-area .comment-editor .action-help {
  width: 50%;
  text-align: left;
  padding: 10px;
}
#c4all-widget-container.narrow-view .comment-form .comment-area .comment-editor .button {
  margin: 4px 4px 0 0;
}
#c4all-widget-container.narrow-view .comment-form .comment-area .comment-editor .button-description {
  float: none;
  margin: 0;
  padding: 0;
}
#c4all-widget-container.narrow-view .comment-form .comment-area .field-comment {
  padding: 0 10px 10px 10px;
}
#c4all-widget-container.narrow-view .comment-form .account-area.pull-left {
  padding-left: 0;
}
#c4all-widget-container.narrow-view .comment-form .account-area.pull-left .account-info {
  padding-left: 90px;
  min-height: 90px;
}
#c4all-widget-container.narrow-view .comment-form .account-area.loggedin .field-action {
  margin-top: 6px;
}
#c4all-widget-container.narrow-view .comment-form .account-area.loggedin .field-action.primary {
  float: none;
}
#c4all-widget-container.narrow-view .comment-form .account-area.loggedin .field-action.secondary {
  float: none;
}
#c4all-widget-container.narrow-view .comment-form .account-area .action-link {
  display: block;
  float: none;
}
#c4all-widget-container.narrow-view .comment-form .account-area .field-group.label-left .field {
  padding-left: 0;
}
#c4all-widget-container.narrow-view .comment-form .account-area .field-group.label-left .field-action {
  text-align: center;
}
#c4all-widget-container.narrow-view .comment-form .account-area .field-group.label-left label {
  padding: 4px 0;
  margin-left: 0;
  float: none;
}
#c4all-widget-container.narrow-view .leave-comment .action .button-description {
  padding: 8px 0;
}
/* ==================================================
    =High def devices
===================================================== */
@media only screen and (min-device-pixel-ratio: 1.3), only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 13/10), only screen and (min-resolution: 120dpi) {
  #c4all-widget-container .icon,
  #c4all-widget-container .comment .tag,
  #c4all-widget-container .comment article:before,
  #c4all-widget-container .comment-form .comment-area .action-feel:before {
    background-size: 1000px 500px;
  }
  #c4all-widget-container .icon {
    background-image: url(../assets/art/elements@2x.png);
  }
  #c4all-widget-container .comment-form .comment-area .action-feel:before {
    background-image: url(../assets/art/elements@2x.png);
  }
  #c4all-widget-container .comment article:before {
    background-image: url(../assets/art/elements@2x.png);
  }
  #c4all-widget-container .tag {
    background-image: url(../assets/art/elements@2x.png);
  }
}
/* ==================================================
    =Magnific popup
    Read more here http://dimsemenov.com/plugins/magnific-popup/
===================================================== */
/* Styles for dialog window */
.c4all-modal {
  font: 16px/1.5 'Helvetica Neue', Arial, sans-serif;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  padding: 20px 30px;
  text-align: left;
  max-width: 400px;
  margin: 40px auto;
  position: relative;
}
.c4all-modal h1 {
  font: 24px/1.2 'Helvetica Neue', Arial, sans-serif;
  font-weight: bold;
  margin-bottom: .5em;
}
.c4all-modal p {
  font: 16px/1.5 'Helvetica Neue', Arial, sans-serif;
  margin-top: .5em;
}
.c4all-modal-video {
  max-width: 700px;
}
/**
 * Fade-zoom animation for first dialog
 */
/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}
/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0;
}
/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}
/* Dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
  opacity: 0.8;
}
/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
  opacity: 0;
}
/* Handle embedded video in responsive */
/* Adapted from http://foundation.zurb.com/docs/components/flex_video.html */
.flex-video {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
  margin-bottom: 16px;
  overflow: hidden;
}
.flex-video.widescreen {
  padding-bottom: 57.25%;
}
.flex-video.vimeo {
  padding-top: 0;
}
.flex-video iframe,
.flex-video object,
.flex-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
